Thumbs.db
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*.psd
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
*.db
[Tt]est*/
/build/
*.bin
*.dat
*.vsidx
*.v2
*.v1
*.lock
*.opendb
*.db-shm
*.db-wal
*.DS_Store
*.v5
*.1
*.txt
*.pubxml
*.json
*.xml
*.idea
*.vs