[submodule "NLua"]
	path = Source/NLua
	url = https://github.com/NLua/NLua.git
[submodule "DarkUI"]
	path = Source/DarkUI
	url = https://github.com/RobinPerris/DarkUI.git
[submodule "SFML"]
	path = Source/SFML
	url = https://github.com/SFML/SFML.git
[submodule "CSFML"]
	path = CSFML
	url = https://github.com/SFML/CSFML.git
[submodule "SFML.Net"]
	path = Source/SFML.Net
	url = https://github.com/SFML/SFML.Net.git
[submodule "Sanford.Multimedia.Midi"]
	path = Source/Sanford.Multimedia.Midi
	url = https://github.com/tebjan/Sanford.Multimedia.Midi.git
