<?xml version="1.0"?>
<configuration>
    <system.diagnostics>

        <switches>
            <add name="DefaultSwitch" value="Information"/>
            <add name="VerboseSwitch" value="Verbose"/>
            <add name="WarningSwitch" value="Warning"/>
            <add name="ErrorSwitch" value="Error"/>
            <add name="OffSwitch" value="Off"/>
        </switches>

        <sharedListeners>
            <add name="RollingFileLog"
                 type="System.Diagnostics.TextWriterTraceListener"
                 initializeData="logs/Detailed/ApplicationLog.log">
                <traceOutputOptions>Timestamp, ProcessId, ThreadId, DateTime, Callstack, LogicalOperationStack</traceOutputOptions>
            </add>
            <add name="SimpleTextLog"
                 type="System.Diagnostics.TextWriterTraceListener"
                 initializeData="logs/SimpleAppLog.log">
                <traceOutputOptions>Timestamp, ProcessId, ThreadId, Callstack</traceOutputOptions>
            </add>

            <add name="ConsoleLog"
                 type="System.Diagnostics.ConsoleTraceListener">
                <traceOutputOptions>Timestamp, LogicalOperationStack</traceOutputOptions>
                <filter type="System.Diagnostics.Core.EventCommandFilter" initializeData="Warning" />
            </add>

            <add name="EventLog"
                 type="System.Diagnostics.EventLogTraceListener"
                 initializeData="MyApplicationName">
                <filter type="System.Diagnostics.Core.EventCommandFilter" initializeData="Error" />
            </add>

            <add name="XmlLog"
                 type="System.Diagnostics.XmlWriterTraceListener"
                 initializeData="logs/ApplicationLog.xml">
                <traceOutputOptions>Timestamp, ProcessId, ThreadId, DateTime, Callstack, LogicalOperationStack</traceOutputOptions>
            </add>

            <add name="CsvLog"
                 type="System.Diagnostics.DelimitedListTraceListener"
                 initializeData="logs/ApplicationLog.csv"
                 delimiter=";">
                <traceOutputOptions>Timestamp, ProcessId, ThreadId, DateTime</traceOutputOptions>
            </add>

        </sharedListeners>

        <sources>
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="RollingFileLog"/>
                    <add name="EventLog"/>
                </listeners>
            </source>

            <source name="DataAccessLayerSource" switchName="VerboseSwitch">
                <listeners>
                    <add name="RollingFileLog" traceOutputOptions="Timestamp, ProcessId, ThreadId, Callstack, LogicalOperationStack"/>
                </listeners>
            </source>

            <source name="UserInterfaceSource" switchName="WarningSwitch">
                <listeners>
                    <add name="RollingFileLog"/>
                    <add name="ConsoleLog"/>
                </listeners>
            </source>

            <source name="ApiServiceSource" switchName="InformationSwitch">
                <listeners>
                    <add name="RollingFileLog"/>
                    <add name="XmlLog" traceOutputOptions="Timestamp, Callstack, LogicalOperationStack"/>
                    <add name="EventLog"/>
                </listeners>
            </source>

            <source name="SilentComponentSource" switchName="ErrorSwitch">
                <listeners>
                    <add name="EventLog"/>
                    <add name="RollingFileLog"/>
                </listeners>
            </source>

        </sources>

        <trace autoflush="true"/>

    </system.diagnostics>

</configuration>